#text{
    font-family: Sans-serif;
    position:absolute;
    width: 20%;
    left: 10%;
    top: 20%;
}
.title{
    color: #a9a09d;
    font-size: 31px;
    text-shadow: 3px 0px 0px #020303, -3px 0px 0px #020303, 0px 3px 0px #020303, 0px -3px 0px #020303;
    font-weight: bold;    
    margin-bottom: 6px;
}
.s{
    font-weight: bold;
    background: rgb(128,128,128);
    padding: 5px;
    color: #fff;
    border: 3px solid #000;
    margin-bottom: 5px;
}